#hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images.html/dry\ hill.jpeg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 90vh;
}
#navbar{
    display: flex;
    gap: 100px;
    background-color: white;
    text-align: center;
    border: solid;
    border-radius: 100px;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
    font-size: larger;
}